<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Task</title>
</head>
<body>
<form action="#" th:action="@{/task-update}" th:object="${task}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="taskName">Task Name</label>
    <input type="text" th:field="*{taskName}" id="taskName" placeholder="Task Name">
    <br/>
    <label for="taskInfo">Task Info</label>
    <input type="text" th:field="*{taskInfo}" id="taskInfo" placeholder="Task Info">
    <br/>
    <label for="taskData">Task Data</label>
    <input type="text" th:field="*{taskData}" id="taskData" placeholder="Task Data">
    <br/>
    <label for="timeStart">Time Start</label>
    <input type="text" th:field="*{timeStart}" id="timeStart" placeholder="Time Start">
    <br/>
    <label for="timeEnd">Time End</label>
    <input type="text" th:field="*{timeEnd}" id="timeEnd" placeholder="Time End">
    <br/>
    <input type="submit" value="Update Task">
</form>
</body>
</html>